<!-- Portfolio Modals -->
<!-- {% for post in site.posts %}
  <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
    <div class="lr">
      <div class="rl">
      </div>
    </div>
    </div>
    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
      <div class="modal-body">
        <h2>{{ post.title }}</h2>
        <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
        <p>{{ post.description }}</p>
        <ul class="list-inline item-details">
        <li>Client:
          <strong><a href="http://startbootstrap.com">{{ post.client }}</a>
          </strong>
        </li>
        <li>Date:
          <strong><a href="http://startbootstrap.com">{{ post.project-date }}</a>
          </strong>
        </li>
        <li>Service:
          <strong><a href="http://startbootstrap.com">{{ post.category }}</a>
          </strong>
        </li>
        </ul>
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
      </div>
      </div>
    </div>
    </div>
  </div>
  </div>
{% endfor %} -->

<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2 class="project-description-title">Coming Soon</h2>
            <img src="img/portfolio/cabin.png" class="img-responsive img-centered" alt="">
            <p class="projects"> Coming Soon </p>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2 class="project-description-title">Self Driving RC Car</h2>
            <img src="assets/rc_car/front_car_real.png" class="img-responsive img-centered" alt="">
            <p class="projects">To do!</p>
            <button id="btnSubmit" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2 class="project-description-title">Coming Soon</h2>
            <img src="img/portfolio/cabin.png" class="img-responsive img-centered" alt="">
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>

<div class="portfolio-modal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content-contact">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body-custom">
            <h2 class="project-description-title">Contact Me</h2>
            <p class="contact">dresimpelo [at] gmail [dot] com</p>
            <p class="contact">Thanks for visiting!</p>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
