<!-- Portfolio Grid Section -->
<section class="background" id="portfolio">
  <div class="container">
    <div class="col-lg-12 text-center">
      <h2 class="projects font">Projects</h2>
    </div>
    <div class="col-sm-4 portfolio-item">
      <a href="neural-networks-3/" class="portfolio-link" data-toggle="modal">
        <div class="caption">
          <div class="caption-content">
            <h2 class="project-description-title">Deep Learning Projects</h2>
          </div>
        </div>
        <img src="img/portfolio/submarine.png" class="img-responsive" alt="Cabin">
      </a>
    </div>
    <div class="col-sm-4 portfolio-item">
      <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
        <div class="caption">
          <div class="caption-content">
            <h2 class="project-description-title">Self Driving RC Car Project</h2>
          </div>
        </div>
          <img src="assets/rc_car/front_car_cartoon.png" class="img-responsive" alt="Cabin">
<!--
          <div id="cf">
            <img src="assets/rc_car/front_car_real.png" class="bottom img-responsive" alt="Cabin">
            <img src="assets/rc_car/front_car_cartoon.png" class="top img-responsive" alt="Cabin">
          </div>
-->
      </a>
    </div>
    <div class="col-sm-4 portfolio-item">
      <a href="advanced_lane_finding/" class="portfolio-link" data-toggle="modal">
        <div class="caption">
          <div class="caption-content">
            <h2 class="project-description-title">Advanced Lane Finding</h2>
          </div>
        </div>
        <img src="assets/advanced_lane_finding/home_page.png" class="img-responsive" alt="Cabin">
      </a>
    </div>
  </div>
</section>