<!DOCTYPE html>
<html>
  {% include head.html %}
  {% include nav.html %}
  <body>

  <!-- Content --> 
  <div class="page-content">
    <body id="page-top" class="index">
      {% include header.html %}
      {% include portfolio_grid.html %}
      {% include footer.html%}
      {% include modals.html %}
      {% include js.html %}
    </body>
  </div>
  
  <!-- mathjax -->
  <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  </body>
</html>
